header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(./imagens/chorao.jpg);
    background-repeat: round;
}

nav ul {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1rem 0rem 4rem;
}

.item {
    flex-basis: 8rem;
    text-align:center;
    font-family: 'Kirang Haerang', cursive;
    font-size: 1.8rem;
    color: white;
    
}

.item:nth-child(1){
    flex-grow: 1;
    text-align: left;
}


 header h1 {
    color: rgb(255, 255, 255);
    font-size: 6rem;
    margin: 8% 9% 11% 5%;
    font-family: 'Kirang Haerang', cursive;
}

.container{
    display: flex;
}

.containerText{
    width: 50%;
}

.container-text h2{
    /* font-family: 'Fraunces', serif; */
    font-family: 'Kirang Haerang', cursive;
    font-weight: 600;
    text-align: initial;
    font-size: 2.5rem;
}

.text {
    font-size: 1.5rem;
    font-family: 'Barlow', sans-serif;
    line-height: 1.5;
    color: #6B6B6B;
    padding: 2rem 0;
}

.container-text{
    margin: 3rem;
    padding: 2rem;

}

.saiba-mais{
    color: white;
    font-family: 'Fraunces', serif;
    font-weight: 600;
    font-size: 1.3rem;
    border: solid;
    display: initial;
    background: black;
    padding: 0.7rem;
    border-radius: 20px;
    cursor: pointer;
}

.container-img {
    display: flex;
    width: 50%;
}

.container-img img {
    width: 100%;
}

.container1{
    display: flex;
    flex-direction: row-reverse;
}

.container2{
    display: flex;
    background: black;
    flex-wrap: wrap;
    text-align: center;
}

.container2 h2 {
    color: white;
    width: 100%;
    text-align: center;
    font-family: 'Kirang Haerang', cursive;
    font-size: 4rem;
    padding-top: 2rem;
}

.video-1 {
    width: 50%;
}

.video-2{
    width: 50%;
}

.titulo-video{
    font-family: 'Kirang Haerang', cursive;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    padding: 2rem 0rem;
    color: white;
}
    
.descricao {
    color: white;
    font-family: 'Barlow', sans-serif;
    line-height: 1.5;
    padding: 2rem 7rem;
    text-align: center;
    font-size: 1.4rem;
}

.section-albuns{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 5rem;
}

.section-albuns h2{
    font-family: 'Barlow', sans-serif;
    color: #6B6B6B;
    letter-spacing: 0.27em;
    font-size: 2rem;
}

.div-albuns {
    display: flex;
    margin: 7rem;
}

.albuns {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.albuns img {
    width: 33%;
    border-radius: 50%;
}

.albuns-descricao {
    font-size: 1.5rem;
    font-family: 'Barlow', sans-serif;
    line-height: 1.5;
    color: #6B6B6B;
    padding: 2rem 2rem;
}

.albuns-cd {
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    font-size: 1.4rem;
}

.albuns-cd strong {
    color: #ab0b15;
    font-weight: bold;
}

.cds {
    display: flex;
    width: 100%;
    grid-column: span 2;
}
.cds picture {
    width: 50%;
}

.cds img {
    object-fit: cover;
    display: block;
    height: 447px;
    width: 100%;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0rem;
    background: black;
}

.link-nav {
    margin: 2rem auto;
    font-family: 'Fraunces', serif;
    font-size: 1.3rem;
}

.link-nav a {
    margin: 0 3rem;
    color: white;
    text-decoration: wavy;;
}

.rede-social{
    margin-bottom: 2rem;
}

.rede-social a svg {
    fill: white;
    margin: 0rem 5rem;
}

footer p {
    color: #ffffff;
    font-weight: bold;
}

footer p a {
    color: #ab0b15;
    font-weight: bold;
    font-family: 'Fraunces', serif;
    text-decoration: unset;
}



/* font-family: 'Barlow', sans-serif;

font-family: 'Fraunces', serif; */